:root {
  --color-primary-light: #484848;
  --color-primary: #212121;
  --color-primary-dark: #000;
  --color-primary-contrast: #FFF;

  --color-secondary-light: #f05545;
  --color-secondary: #b71c1c;
  --color-secondary-dark: #7f0000;
  --color-secondary-contrast: #FFF;

  --text-color-base: var(--color-primary);
  --bg-color-base: #FEFEFE;
}

.dark {
  /*@todo*/
}