@import 'tailwindcss';
@import 'tw-animate-css';

@import 'swiper/css';
@import 'swiper/css/effect-cards';
@import 'swiper/css/navigation';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: 'DM Serif Text', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

  --color-gray: var(--color-gray);
  --color-red: var(--color-red);
  --color-primary: var(--color-primary);
  --color-primary-contrast: var(--color-primary-contrast);
  --color-primary-foreground: var(--color-primary-contrast);
  --color-error: var(--color-error);
  --color-success: var(--color-success);

  --color-background: var(--bg-color-base);
  --color-foreground: var(--text-color-base);

  --color-card: var(--color-card);
  --color-card-foreground: var(--color-card-foreground);
  --color-popover: var(--color-popover);
  --color-popover-foreground: var(--color-popover-foreground);
  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);
  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);
  --color-accent: var(--color-accent);
  --color-accent-foreground: var(--color-accent-foreground);
  --color-destructive: var(--color-destructive);
  --color-destructive-foreground: var(--color-destructive-foreground);
  --color-border: var(--color-border);
  --color-input: var(--color-input);
  --color-ring: var(--color-ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 4rem;
  --spacing-header: var(--header-height);
}

@import './vars.css';
@import './base.css';
@import './components.css';
@import './utilities.css';
