@utility bg-base {
  background-color: var(--bg-color-base);
}

@utility min-h-screen-no-header {
  min-height: calc(100vh - var(--spacing-header));
}

@utility h-screen-no-header {
  height: calc(100vh - var(--spacing-header));
}
