:root {
  --color-black: #212121;
  --color-white: #FEFEFE;

  --color-error: #f44336;

  --color-primary: var(--color-black);
  --color-primary-contrast: var(--color-white);

  --text-color-base: var(--color-primary);
  --bg-color-base: var(--color-primary-contrast);
}

.dark {
  --color-primary: var(--color-white);
  --color-primary-contrast: var(--color-black);
}